@import '../Common/css/ad.css';
 .home, .main {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .title {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 40px 0;
  }
  .title__text {
      font-weight: bold;
      font-size: 64px;
      color: #000;
  }

  .main__content {
      display: flex;
      flex-direction: column;
      padding: 0 50px;
  }

  .search {
      margin-bottom: 20px;
  }

  .search__input {
      width: 100%;
      border: 2px solid #eee;
      height: 72px;
      line-height: 72px;
      font-size: 30px;
      border-radius: 36px;
      padding: 0 20px;
  }

  .main__content__title {
      color: #121212;
      font-size: 36px;
  }

  .news-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .news-list__item {
      margin-right: 20px;
  }

  .news-list__item__text {
      color: #666;
      font-size: 32px;
      line-height: 48px;
  }

  .search-btn {
      width: 300px;
      height: 72px;
      background-color: #4B90E1;
      border-radius: 36px;
      line-height: 72px;
      margin: 40px auto 0 auto;
  }

  .search-btn__text {
      color: #fff;
      font-size: 30px;
      width: 100%;
      text-align: center;
  }

  .main__content__image {
      height: 480px;
      margin: 0 auto;
  }
